<%= form_with(model: driver_log, local: true) do |form| %>
  <% if driver_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver_log.errors.count, "error") %> prohibited this driver_log from being saved:</h2>

      <ul>
        <% driver_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :trip_number %>
    <%= form.text_field :trip_number %>
  </div>

  <div class="field">
    <%= form.label :start_odometer %>
    <%= form.text_field :start_odometer %>
  </div>

  <div class="field">
    <%= form.label :end_odometer %>
    <%= form.text_field :end_odometer %>
  </div>

  <div class="field">
    <%= form.label :Hook %>
    <%= form.text_field :hk %>
  </div>

  <div class="field">
    <%= form.label "Arrive Drop" %>
    <%= form.text_field :ad %>
  </div>

  <div class="field">
    <%= form.label :Arrive %>
    <%= form.text_field :ar %>
  </div>

  <div class="field">
    <%= form.label "Live Load" %>
    <%= form.text_field :ll %>
  </div>

  <div class="field">
    <%= form.label "Live Unload" %>
    <%= form.text_field :lu %>
  </div>

  <div class="field">
    <%= form.label :Stop %>
    <%= form.text_field :st %>
  </div>

  <div class="field">
    <%= form.label "Stop Drop" %>
    <%= form.text_field :sd %>
  </div>

  <div class="field">
    <%= form.label "Unscheduled Time" %>
    <%= form.text_field :ut %>
  </div>

  <div class="field">
    <%= form.label :Layover %>
    <%= form.text_field :lo %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
